<!DOCTYPE html>
<html ng-app>
    <head>
        <link href="css/style.css" rel="stylesheet">
            <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
                <link href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    </head>
    
    <body ng-controller="TodoCtrl">
        <div>
            <h4>My Todo List</h4>
            <input type="text" placeholder="Add Item" ng-model="todo.name"/>
            <button class="btn btn-primary" ng-click="addItem()">Add Item</button>
            <br/>
            <div id="list-container">
                <table class="table table-hover table-striped table-bordered todolist">
                    <tr ng-repeat="todo in Todos.record" id="row_{{todo.id}}">
                        <td><a ng-click="deleteItem()"><i class="icon icon-minus-sign"></i></a></td>
                        <td ng-class="{strike:todo.complete}" id="item_{{todo.id}}" style="width:100%" ng-click="updateItem()">
                            <b>{{todo.name}}</b> <span>{{todo.desc}}</span></td>
                    </tr>
                </table>
            </div>

        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>
        <script type="text/javascript"
            src="https://api.cloud.dreamfactory.com:9292/bayeux/client.js">
            </script>
       
        <script src="js/app.js"></script>
        
        
        
    </body>
</html>